.book {
  &.md-card{
    position: relative;
    .invisible-btn{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .md-card-title--title-block {
    overflow: hidden;
    .md-card-title--title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .md-media {
    padding-bottom: 140%;
    background-color: #f0f0f0;
    img {
      height: auto;
    }
  }
}